Node-Red Flows/Node-Red - Data Capture Flow.txt
[
    {
        "id": "d8c111ae.402fd",
        "type": "tab",
        "label": "Amp Meter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b800aae0.58f078",
        "type": "exec",
        "z": "d8c111ae.402fd",
        "command": "/home/pi/NodeRedScripts/AmpMeter",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "8",
        "oldrc": false,
        "name": "AmpMeter",
        "x": 315,
        "y": 184.5,
        "wires": [
            [
                "3f8dc7b2.9cc3e8",
                "93d5f64c.0ceee8"
            ],
            [],
            []
        ]
    },
    {
        "id": "e16e867b.073028",
        "type": "inject",
        "z": "d8c111ae.402fd",
        "name": "Timer Pulse",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 128,
        "y": 186,
        "wires": [
            [
                "b800aae0.58f078"
            ]
        ]
    },
    {
        "id": "3f8dc7b2.9cc3e8",
        "type": "csv",
        "z": "d8c111ae.402fd",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "\"\"Total\"\", \"\"HotWater\"\"",
        "skip": "0",
        "x": 549,
        "y": 170,
        "wires": [
            [
                "b55d34bd.a7fd98"
            ]
        ]
    },
    {
        "id": "93d5f64c.0ceee8",
        "type": "mqtt out",
        "z": "d8c111ae.402fd",
        "name": "",
        "topic": "Hidden/feeds/energyusage.current",
        "qos": "",
        "retain": "",
        "broker": "86663111.12fec",
        "x": 648,
        "y": 94,
        "wires": []
    },
    {
        "id": "b55d34bd.a7fd98",
        "type": "split",
        "z": "d8c111ae.402fd",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 682,
        "y": 170,
        "wires": [
            [
                "5e896f98.7fe82"
            ]
        ]
    },
    {
        "id": "5e896f98.7fe82",
        "type": "switch",
        "z": "d8c111ae.402fd",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 823,
        "y": 170,
        "wires": [
            [
                "59d3f325.ad31ac"
            ],
            [
                "9995bd78.b58d2"
            ]
        ]
    },
    {
        "id": "8b5dd48a.2e6de8",
        "type": "change",
        "z": "d8c111ae.402fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Total Amps",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Total Amps",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 229,
        "y": 317,
        "wires": [
            [
                "ecc0631c.d7697",
                "40e801a7.636b2"
            ]
        ]
    },
    {
        "id": "59d3f325.ad31ac",
        "type": "link out",
        "z": "d8c111ae.402fd",
        "name": "TotalAmps",
        "links": [
            "779b3417.36cc9c"
        ],
        "x": 1010,
        "y": 163,
        "wires": []
    },
    {
        "id": "9995bd78.b58d2",
        "type": "link out",
        "z": "d8c111ae.402fd",
        "name": "HotWaterAmps",
        "links": [
            "ed8f009b.7188b"
        ],
        "x": 1009,
        "y": 204,
        "wires": []
    },
    {
        "id": "779b3417.36cc9c",
        "type": "link in",
        "z": "d8c111ae.402fd",
        "name": "",
        "links": [
            "59d3f325.ad31ac"
        ],
        "x": 72,
        "y": 317,
        "wires": [
            [
                "8b5dd48a.2e6de8"
            ]
        ]
    },
    {
        "id": "ed8f009b.7188b",
        "type": "link in",
        "z": "d8c111ae.402fd",
        "name": "",
        "links": [
            "9995bd78.b58d2"
        ],
        "x": 71,
        "y": 370,
        "wires": [
            [
                "b95ae34a.71419"
            ]
        ]
    },
    {
        "id": "b95ae34a.71419",
        "type": "change",
        "z": "d8c111ae.402fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Hot Water Amps",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Hot Water Amps",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 228,
        "y": 370,
        "wires": [
            [
                "ecc0631c.d7697",
                "2a797e09.0b50b2"
            ]
        ]
    },
    {
        "id": "ecc0631c.d7697",
        "type": "ui_chart",
        "z": "d8c111ae.402fd",
        "name": "Amps Graph",
        "group": "2d46956e.d559ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Current (Amps)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0080c0",
            "#ff5e5e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 484,
        "y": 345,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "40e801a7.636b2",
        "type": "ui_gauge",
        "z": "d8c111ae.402fd",
        "name": "",
        "group": "3a0812b5.c2b41e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Total",
        "label": "Amps",
        "format": "{{ value | number: 2}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 466,
        "y": 301,
        "wires": []
    },
    {
        "id": "2a797e09.0b50b2",
        "type": "ui_gauge",
        "z": "d8c111ae.402fd",
        "name": "",
        "group": "3a0812b5.c2b41e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hot Water",
        "label": "Amps",
        "format": "{{ value | number: 2}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "15",
        "x": 473,
        "y": 392,
        "wires": []
    },
    {
        "id": "78fe167d.9a6c08",
        "type": "comment",
        "z": "d8c111ae.402fd",
        "name": "Notes",
        "info": "This code uses a custom built C++ script to read total and hot water current.\nIt then outputs this as two comma seperated values (total,hotwater).\n\nThe rest of the code it then used to split the two values into seperate feeds, for sending to a graph.\nThe raw csv values are sent to AdaFruit IO for historical purposes.",
        "x": 86,
        "y": 67,
        "wires": []
    },
    {
        "id": "86663111.12fec",
        "type": "mqtt-broker",
        "z": "",
        "name": "io.adafruit.com",
        "broker": "io.adafruit.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2d46956e.d559ba",
        "type": "ui_group",
        "z": "",
        "name": "Graph",
        "tab": "f796b926.17e6b8",
        "disp": true,
        "width": "22",
        "collapse": true
    },
    {
        "id": "3a0812b5.c2b41e",
        "type": "ui_group",
        "z": "",
        "name": "Guages",
        "tab": "f796b926.17e6b8",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "f796b926.17e6b8",
        "type": "ui_tab",
        "z": "",
        "name": "Aspden Energy",
        "icon": "dashboard"
    }
]