Node-Red Flows/Node-Red - System Status Flow.txt
[
    {
        "id": "f31e8657.886708",
        "type": "tab",
        "label": "PI Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3a421ab0.f456a6",
        "type": "ui_gauge",
        "z": "f31e8657.886708",
        "name": "",
        "group": "c3e3a7dc.eeb2f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 749,
        "y": 64,
        "wires": []
    },
    {
        "id": "962f212e.4f18",
        "type": "exec",
        "z": "f31e8657.886708",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 357,
        "y": 76,
        "wires": [
            [
                "be319eee.f57e3"
            ],
            [],
            []
        ]
    },
    {
        "id": "d9e0b2ed.d3443",
        "type": "inject",
        "z": "f31e8657.886708",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 151.5,
        "y": 84.25,
        "wires": [
            [
                "962f212e.4f18",
                "569e7fa.042c88",
                "dcd3f091.8daa1"
            ]
        ]
    },
    {
        "id": "be319eee.f57e3",
        "type": "function",
        "z": "f31e8657.886708",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 63,
        "wires": [
            [
                "3a421ab0.f456a6",
                "b4f037a2.59c5e8"
            ]
        ]
    },
    {
        "id": "b4f037a2.59c5e8",
        "type": "ui_chart",
        "z": "f31e8657.886708",
        "name": "",
        "group": "c3e3a7dc.eeb2f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "25",
        "ymax": "70",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 713,
        "y": 104,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "569e7fa.042c88",
        "type": "exec",
        "z": "f31e8657.886708",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "CPU Load",
        "x": 357,
        "y": 156,
        "wires": [
            [
                "c5f65091.09fcd"
            ],
            [],
            []
        ]
    },
    {
        "id": "dcd3f091.8daa1",
        "type": "exec",
        "z": "f31e8657.886708",
        "command": "free | grep Mem | awk '{print $3/$2 * 100.0}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Free Memory",
        "x": 357,
        "y": 236,
        "wires": [
            [
                "7ab2a0de.870ff"
            ],
            [],
            []
        ]
    },
    {
        "id": "c5f65091.09fcd",
        "type": "ui_gauge",
        "z": "f31e8657.886708",
        "name": "",
        "group": "c3e3a7dc.eeb2f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Processor",
        "label": "CPU",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 717,
        "y": 156,
        "wires": []
    },
    {
        "id": "7ab2a0de.870ff",
        "type": "ui_gauge",
        "z": "f31e8657.886708",
        "name": "",
        "group": "2d48a59a.cba5ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory",
        "label": "RAM",
        "format": "{{ value | number: 1}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "512",
        "seg2": "800",
        "x": 717,
        "y": 228,
        "wires": []
    },
    {
        "id": "f8b68c9d.24c1b",
        "type": "exec",
        "z": "f31e8657.886708",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 357,
        "y": 316,
        "wires": [
            [
                "40a0b29.48a7a4c"
            ],
            [],
            []
        ]
    },
    {
        "id": "842b0010.c9e0d",
        "type": "ui_gauge",
        "z": "f31e8657.886708",
        "name": "",
        "group": "5c846126.cbeab",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Disk",
        "label": "Usage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 707,
        "y": 303,
        "wires": []
    },
    {
        "id": "40a0b29.48a7a4c",
        "type": "function",
        "z": "f31e8657.886708",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 536,
        "y": 303,
        "wires": [
            [
                "842b0010.c9e0d"
            ]
        ]
    },
    {
        "id": "beff4581.8be6a8",
        "type": "inject",
        "z": "f31e8657.886708",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 157,
        "y": 316,
        "wires": [
            [
                "f8b68c9d.24c1b"
            ]
        ]
    },
    {
        "id": "c3e3a7dc.eeb2f8",
        "type": "ui_group",
        "z": "",
        "name": "Col1",
        "tab": "fbae9a94.7ba7c8",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "2d48a59a.cba5ba",
        "type": "ui_group",
        "z": "",
        "name": "Col2",
        "tab": "fbae9a94.7ba7c8",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "5c846126.cbeab",
        "type": "ui_group",
        "z": "",
        "name": "Col3",
        "tab": "fbae9a94.7ba7c8",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "fbae9a94.7ba7c8",
        "type": "ui_tab",
        "z": "",
        "name": "RPi Monitoring",
        "icon": "dashboard",
        "order": 4
    }
]